*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    padding: 50px 50px 10px;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.card{
    font-family: outfit;
    width: fit-content;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 2px 2px 4px 6px hsl(217, 54%, 11%);
}

.eq{
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.eq:hover{
    cursor: pointer;
}

h2{
    font-weight: 600;
    color: white;
}

h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

p{
    width: 250px;
    font-weight: 400;
    padding: 10px 0;
    margin-bottom: 10px;
    color: hsl(215, 51%, 70%);
}

.eth{
    font-weight:600 ;
    color: hsl(178, 100%, 50%);
}

.days{
    float: right;
    color: hsl(215, 51%, 70%);
}

.svg{
    height: 13px;
}

hr{
    margin: 20px 0;
    border-top: 2px;
    border-color: hsl(215, 32%, 27%);
}

.end{
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

b{
    font-weight: 600;
    color: white;
}
b:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.avi{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px;
}